// ---------------------------------------------
// GLOBAl

// ---------------------------------------------
// GLOBAl: CLASSES

.icon {
  cursor: pointer;
  font-weight: $font-regular;
  color: $white;
  background: $transparent;
  border: 0;
  padding: 0;
}

.date {
  color: $gray-titanium;
  font-size: 12px;
}

.error {
  background: $brand;
  padding: 1em;
  border-radius: 5px;
  color: $white;
  text-align: center;
}

// ---------------------------------------------
// GLOBAl: TAGS

a {
  color: $gray-coal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
