// ---------------------------------------------
// VARIABLES

// ---------------------------------------------
// VARIABLES: COLORS

// Colors: Brand
$brand: #FF0102;

// Colors: Black, White, Gray Spectrum
$black: #000;
$gray-coal: #222;
$gray-lead: #666;
$gray-cement: #999;
$gray-titanium: #AAA;
$gray-cloud: #DADEE8;
$gray-mist: #F1F1F1;
$white: #FFF;
$transparent: transparent;

// Colors: Typography
$color-font: $gray-lead;
$color-link: $black;

// ---------------------------------------------
// VARIABLES: FONTS

// Fonts: Families
$font-family-1: 'Roboto', sans-serif;

// Fonts: Weights
$font-regular: 300;
$font-semi-bold: 600;
$font-bold: 700;

// Fonts: Line Height
$line-height: 1.5;

// Font Icons: Spacing: Left and Right
$icon-spacing: 5px;
$icon-spacing-lg: ($icon-spacing * 2);

// ---------------------------------------------
// VARIABLES: MEDIA QUERIES

// Media Queries: Min-width
$media-lg: 1200px;
$media-mid: 900px;
$media-sm: 600px;

// Media Queries: Max-width
$media-lg-max: (($media-lg) - 1);
$media-mid-max: (($media-mid) - 1);
$media-sm-max: (($media-sm) - 1);

// ---------------------------------------------
// VARIABLES: SPACING
// Use for padding, margins, etc.

$spacing: 1em;
$spacing-half: $spacing - .5;
$spacing-2: ($spacing * 2);
$spacing-3: ($spacing * 3);
$spacing-half: ($spacing / 2);
