// ---------------------------------------------
// COMPONENTS: CONTENT BLOCKS

.block {
  background-color: $transparent;
  margin-bottom: $spacing;
  flex-direction: row;
  display: flex;
  line-height: normal;
  &--playlist {
    .block__thumbnail {
      max-width: 100%;
    }
  }
  &__thumbnail {
    &-link {
      display: block;
      position: relative;
      width: 120px;
      min-width: 120px;
      text-align: center;
      margin-right: $spacing;
      height: 90px;
      @media (min-width: $media-sm) {
        width: 160px;
        min-width: 160px;
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &--channel {
        border-radius: 50%;
        width: 60%;
        object-fit: cover;
      }
    }
  }
  &__info {
    color: $gray-lead;
    &--channel {
      align-self: center;
    }
  }
  &__heading {
    color: $gray-coal;
    margin-bottom: $spacing - .7;
    &-link {
      color: $gray-lead;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__description {
    display: none;
    @media (min-width: $media-sm) {
      display: block;
      margin: ($spacing-half)  0;
    }
  }
  &__views,
  &__subscribers,
  &__ch-name {
    font-size: 14px;
  }
  &__count {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    bottom: 0;
    background: #252525a6;
    width: 25%;
    padding: $spacing-2 ($spacing-half);
    color: $white;
    font-weight: bold;
  }
  &__date {
    @extend .date;
  }
}
