// ---------------------------------------------
// COMPONENTS: CUSTOM SELECT STYLE

select {
  width: 150px;
  padding: $spacing-half;
  font-size: 16px;
  border: 1px solid $gray-cloud;
  border-radius: 5px;
}
