// ---------------------------------------------
// COMPONENTS: FILTER "MOBILE & DESKTOP"


.filter {
  &-mobile {
    @media (min-width: $media-sm) {
      display: none;
    }
  }
  &-desktop {
    display: none;
    @media (min-width: $media-sm) {
      display: block;
    }
  }
  &-header {
    padding: $spacing 0;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    cursor: pointer;
    &--active {
      font-weight: $font-bold;
    }
  }
  &-container {
    display: flex;
    padding-bottom: $spacing-3;
    border-bottom: 1px solid $gray-cloud;
    margin-bottom: $spacing-3;
    box-shadow: 0 10px 10px $gray-mist;
  }
  &-options {
    width: 50%;
    padding: 0 $spacing;
  }
  &__heading {
    padding: $spacing 0;
    margin-bottom: $spacing;
    border-bottom: 1px solid $gray-cloud;
    color: $gray-coal;
    text-transform: uppercase;
    font-size: 1rem;
  }
  &__element {
    padding: $spacing-half 0;
    color: $gray-lead;
    span {
      cursor: pointer;
      &:hover {
        color: $gray-coal;
      }
    }
    &--active {
      font-weight: $font-bold;
      color: $gray-coal;
    }
  }
  &__icon {
    font-size: 10px;
    margin-left: 10px;
    color: $gray-coal;
    cursor: pointer;
  }
}
