// ---------------------------------------------
// COMPONENTS: LOADER

.loader {
  text-align: center;
  position: absolute;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $white;
  color: $black;
  &__spinner {
    font-size: 40px;
    display: inline-block;
    animation: spin 1.5s linear infinite;
    margin-bottom: $spacing - .8;
  }
  &__txt {
    font-weight: $font-bold;
  }
}


@keyframes spin {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}
