<template>
  <div class="wrapper">
    <Loader v-if="!channel && !error" />
    <p
      v-if="error"
      class="error"
    >
      ERROR: {{ error }}
    </p>
    <ChannelDetails
      v-if="channel && relatedPlaylists"
      :channel="channel"
      :playlists="relatedPlaylists"
    />
  </div>
</template>

<script>
import ChannelDetails from '../components/ChannelDetails.vue';
import Loader from '../components/Loader.vue';

export default {
	name: 'Channel',
	components: { ChannelDetails, Loader },
	data() {
		return {
			id: this.$route.params.id,
		};
	},
	computed: {
		channel() {
			return this.$store.state.channel.channelDetails;
		},
		relatedPlaylists() {
			return this.$store.state.channel.relatedPlaylists;
		},
		error() {
			return this.$store.state.channel.error;
		},
	},
	mounted() {
		this.$store.dispatch('getChannelDetails', this.id);
		this.$store.dispatch('getRelatedPlaylists', this.id);
	},
};
</script>
