<template>
  <div>
    <div class="wrapper">
      Dummy dashboard, <br>
      Please search with any keyword to view videos, channels and playlists.
    </div>
  </div>
</template>

<script>

export default {
	name: 'Home',
};
</script>
