<template>
  <div class="wrapper">
    <section class="not-found">
      <h2 class="not-found__title">
        404
      </h2>
      <p class="not-found__desc">
        Page Not found.
      </p>
    </section>
  </div>
</template>
