<template>
  <div class="wrapper">
    <Loader v-if="!playlistItems && !error" />
    <p
      v-if="error"
      class="error"
    >
      ERROR: {{ error }}
    </p>
    <VideoDetails
      :video="video"
      :related="playlistItems"
    />
  </div>
</template>

<script>
import VideoDetails from '../components/VideoDetails.vue';
import Loader from '../components/Loader.vue';

export default {
	name: 'Playlist',
	components: {
		VideoDetails,
		Loader,
	},
	data() {
		return {
			id: this.$route.params.id,
		};
	},
	computed: {
		video() {
			return null;
		},
		playlistItems() {
			return this.$store.state.videos.playlistItems;
		},
		error() {
			return this.$store.state.videos.error;
		},
	},
	mounted() {
		this.$store.dispatch('getPlaylistItems', this.id);
	},
};
</script>
