<template>
  <div class="wrapper">
    <Loader v-if="!items && !error" />
    <p
      v-if="error"
      class="error"
    >
      ERROR: {{ error }}
    </p>
    <div v-if="items && !error">
      <Filter />
      <div
        v-for="item in items"
        :key="item.etags"
      >
        <VideoBlock
          v-if="item.id.kind === 'youtube#video'"
          :item="item"
        />
        <ChannelBlock
          v-if="item.id.kind === 'youtube#channel'"
          :item="item"
        />
        <PlaylistBlock
          v-if="item.id.kind === 'youtube#playlist'"
          :item="item"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import VideoBlock from '../components/VideoBlock.vue';
import ChannelBlock from '../components/ChannelBlock.vue';
import PlaylistBlock from '../components/PlaylistBlock.vue';
import Loader from '../components/Loader.vue';
import Filter from '../components/Filter.vue';

const { mapState } = createNamespacedHelpers('searchItems');

export default {
	name: 'Search',
	components: {
		VideoBlock,
		ChannelBlock,
		PlaylistBlock,
		Loader,
		Filter,
	},
	data() {
		return {
			id: this.$route.query.text,
		};
	},
	computed: {
		...mapState({
			items: (state) => state.items,
			error: (state) => state.error,
			typeFilter: (state) => state.typeFilter,
		}),
	},
	mounted() {
		this.$store.dispatch('searchItems/getItems', {
			key: this.id,
			router: this.$router,
			type: this.typeFilter,
		});
	},
};
</script>
