<template>
  <div class="wrapper">
    <Loader v-if="!video && !error" />
    <p
      v-if="error"
      class="error"
    >
      ERROR: {{ error }}
    </p>
    <VideoDetails
      v-if="video && relatedVideos"
      :video="video"
      :related="relatedVideos"
    />
  </div>
</template>

<script>
import VideoDetails from '../components/VideoDetails.vue';
import Loader from '../components/Loader.vue';

export default {
	name: 'Video',
	components: {
		VideoDetails,
		Loader,
	},
	data() {
		return {
			id: this.$route.params.id,
		};
	},
	computed: {
		video() {
			return this.$store.state.videos.videoDetails;
		},
		relatedVideos() {
			return this.$store.state.videos.relatedVideos;
		},
		error() {
			return this.$store.state.videos.error;
		},
	},
	mounted() {
		this.$store.dispatch('getVideoDetails', this.id);
		this.$store.dispatch('getRelatedVideos', this.id);
	},
};
</script>
