// ---------------------------------------------
// PAGES: CHANNEL

.channel {
  position: relative;
  top: -32px;
  &-meta-data {
    background-color: $gray-mist;
    margin-bottom: $spacing;
  }
  &__bg {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-bottom: 1px solid $gray-cloud;
    background-color: $white;
    @media (min-width: $media-sm) {
      max-height: 200px;
    }
  }
  &-info {
    position: relative;
    padding: $spacing;
    margin: 0 5%;
    text-align: center;
    @media (min-width: $media-sm) {
      text-align: initial;
    }
  }
  &__logo {
    position: absolute;
    top: -34%;
    bottom: 50%;
    left: 5%;
    border-radius: 50%;
    width: 50px;
    object-fit: cover;
  }
  &__heading {
    margin: .5rem 0;
    font-size: 20px;
    color: $gray-coal;
  }
  &-actions {
    margin: $spacing - .8;
  }
  &__subs {
    color: $brand;
    text-transform: uppercase;
    margin-right: 2px;
    &-number {
      font-size: 12px;
      color: $gray-lead;
    }
  }
}
