// ---------------------------------------------
// PAGES: VIDEO

.video {
  &__player {
    width: 100%;
    margin-bottom: $spacing;
    iframe {
      width: 100%;
      @media (max-width: $media-sm) {
        height: 300px;
      }
    }
  }
  &-info {
    border-top: 1px solid $gray-cloud;
    border-bottom: 1px solid $gray-cloud;
    padding: $spacing 0;
    @media (max-width: $media-sm) {
      margin-bottom: $spacing;
    }
  }
  &__heading {
    margin-bottom: $spacing-half;
    font-size: 20px;
    color: $gray-coal;
  }
  &-btns {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    @media (min-width: $media-sm) {
      justify-content: flex-end;
    }
  }
  &__btn {
    margin: 0 ($spacing-half);
    &-text {
      display: none;
      @media (min-width: $media-sm) {
        display: inline-block;
        margin-left: 5px;
      }
    }
    i {
      color: $gray-lead;
    }
  }
  &-creator {
    display: none;
    margin-bottom: $spacing;
    border-bottom: 1px solid $gray-cloud;
    padding: $spacing 0;
    @media (min-width: $media-sm) {
      display: flex;
    }
    &__name {
      font-size: 16px;
      a {
        color: $gray-coal;
        text-decoration: none;
      }
    }
    &__date {
      @extend .date;
    }
    &__img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin-right: 1em;
      object-fit: cover;
    }
    &--mobile {
      display: flex;
      font-size: 14px;
      color: $gray-lead;
      margin: 20px 0;
      @media (min-width: $media-sm) {
        display: none;
      }
    }
  }
}
