<template>
  <div
    v-if="item.snippet"
    class="block"
  >
    <a
      :href="$router.resolve({
        name: 'Channel',
        params: {id: item.id.channelId}
      }).href"
      class="block__thumbnail-link"
    >
      <img
        :src="item.snippet.thumbnails.medium.url"
        :alt="item.snippet.title"
        class="block__thumbnail-img block__thumbnail-img--channel"
      >
    </a>
    <div
      class="block__info block__info--channel"
    >
      <div class="block__meta-tags">
        <router-link
          :to="{name: 'Channel', params: {id: item.snippet.channelId}}"
          class="block__heading-link"
        >
          <h4 class="block__ch-name">
            {{ item.snippet.channelTitle }}
          </h4>
        </router-link>
        <span
          class="block__subscribers"
        >30 subscribers</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: 'ChannelBlock',
	props: {
		item: {
			type: Object,
			default: null,
		},
	},
};
</script>
