<template>
  <div class="holder">
    <section class="channel">
      <div class="channel-meta-data">
        <img
          :src="channel.snippet.thumbnails.high.url"
          class="channel__bg"
        >
        <div class="channel-info">
          <img
            class="channel__logo"
            :src="channel.snippet.thumbnails.default.url"
          >
          <h2 class="channel__heading">
            {{ channel.snippet.title }}
          </h2>
          <div class="channel-actions">
            <span class="channel__subs">
              <i class="flaticon flaticon-youtube-symbol" />
              Subscribe
            </span>
            <span class="channel__subs-number">
              {{ channel.statistics.subscriberCount }}
              Subscribers
            </span>
          </div>
        </div>
      </div>
    </section>
    <div class="playlists">
      <div
        v-for="item in playlists"
        :key="item.id"
      >
        <PlaylistBlock
          :item="item"
          :count="count"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PlaylistBlock from './PlaylistBlock.vue';

export default {

	name: 'ChannelDetails',
	components: {
		PlaylistBlock,
	},
	props: {
		channel: {
			type: Object,
			default: null,
		},
		playlists: {
			type: Array,
			default: null,
		},
	},
	data() {
		return {
			count: 1,
		};
	},
};
</script>
