<template>
  <div class="filter-desktop">
    <div class="filter-header">
      <span
        v-if="totalResult"
        class="filter__result-number"
      >
        About {{ totalResult.toLocaleString() }} results
      </span>
      <span
        class="filter__button"
        :class="showFilterContent && 'filter__button--active'"
        @click="toggleFilter"
      >
        <i class="flaticon flaticon-filter-results-button" />
        Filter
      </span>
    </div>
    <div
      v-if="showFilterContent"
      class="filter-container"
    >
      <div class="filter-options">
        <h3 class="filter__heading">
          Type
        </h3>
        <ul class="">
          <li
            v-for="option in typeOptions"
            :key="option.value"
            class="filter__element"
            :class="option.value === selected && 'filter__element--active'"
          >
            <span @click="selectType(option.value)">{{ option.text }}</span>
            <i
              v-if="option.value === selected"
              class="flaticon flaticon-cancel filter__icon"
              @click="clearFilter(option.value)"
            />
          </li>
        </ul>
      </div>
      <div class="filter-options">
        <h3 class="filter__heading">
          Sort By
        </h3>
        <ul class="">
          <li
            v-for="option in sortByOptions"
            :key="option.value"
            class="filter__element"
            :class="option.value === selectedSort && 'filter__element--active'"
          >
            <span @click="selectSortBy(option.value)">{{ option.text }}</span>
            <i
              v-if="option.value === selectedSort"
              class="flaticon flaticon-cancel filter__icon"
              @click="clearFilter(option.value)"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { typeOptions, sortByOptions } from '../data';

export default {
	name: 'FilterDesktop',
	components: {},
	data() {
		return {
			showFilterContent: false,
			typeOptions,
			sortByOptions,
			selected: null,
			selectedSort: 'relevance',
			query: this.$route.query.text,
		};
	},
	computed: {
		totalResult() {
			const { totalResult } = this.$store.state.searchItems;
			return totalResult;
		},
	},
	methods: {
		toggleFilter() {
			this.showFilterContent = !this.showFilterContent;
		},
		selectType(t) {
			this.selected = t;
			this.$store.dispatch('searchItems/getFilterType', this.selected);
			this.$store.dispatch('searchItems/getItems', {
				key: this.query,
				router: this.$router,
				type: t,
				sort: this.selectedSort,
			});
		},
		selectSortBy(s) {
			this.selectedSort = s;
			this.$store.dispatch('searchItems/getFilterType', this.selectedType);
			this.$store.dispatch('searchItems/getItems', {
				key: this.query,
				router: this.$router,
				type: this.selected,
				sort: s,
			});
		},
		clearFilter(s) {
			if (s === this.selected) {
				this.selected = null;
				this.$store.dispatch('searchItems/getItems', {
					key: this.query,
					router: this.$router,
					type: this.selected,
					sort: this.selectedSort,
				});
			}
			if (s === this.selectedSort) {
				this.selectedSort = null;
				this.$store.dispatch('searchItems/getItems', {
					key: this.query,
					router: this.$router,
					type: this.selected,
					sort: this.selectedSort,
				});
			}
		},
	},
};
</script>
