<template>
  <div class="filter">
    <FilterMobile />
    <FilterDesktop />
  </div>
</template>

<script>
import FilterMobile from './FilterMobile.vue';
import FilterDesktop from './FilterDesktop.vue';

export default {
	name: 'Filter',
	components: {
		FilterMobile,
		FilterDesktop,
	},
	data() {
		return {};
	},
};
</script>
