<template>
  <div class="filter-mobile">
    <div
      class="filter__select-box"
    >
      <select
        v-model="selectedType"
        @change="onSelectType($event)"
      >
        <option
          v-for="option in typeOptions"
          :key="option.value"
          :value="option.value"
        >
          {{ option.text }}
        </option>
      </select>
      <hr>
    </div>
  </div>
</template>

<script>
import { typeOptions } from '../data';

export default {
	name: 'FilterMobile',
	components: {},
	data() {
		return {
			selectedType: 'all',
			selectedDate: 'anyTime',
			query: this.$route.query.text,
			typeOptions,
		};
	},
	methods: {
		onSelectType(event) {
			this.$store.dispatch('searchItems/getFilterType', this.selectedType);
			this.$store.dispatch('searchItems/getItems', {
				key: this.query, router: this.$router, type: event.target.value,
			});
		},
	},
};
</script>
