<template>
  <header class="header">
    <div class="wrapper">
      <div class="logo">
        <div class="logo--mobile">
          <router-link :to="{name: 'Home'}">
            <img
              src="../assets/images/youtube-mobile.svg"
              class="logo__img"
            >
          </router-link>
        </div>
        <div class="logo--desktop">
          <img
            src="../assets/images/youtube-desktop.svg"
            class="logo__img"
          >
          <router-link :to="{name: 'Home'}">
            <h1 class="logo__label">
              Youtube
            </h1>
          </router-link>
        </div>
      </div>
      <form
        class="search"
        @submit="search"
      >
        <div class="search__holder">
          <span
            v-if="keyword && toggleSearch"
            class="search__keyword"
          >{{ keyword }}</span>
          <input
            v-if="!toggleSearch"
            v-model="keyword"
            placeholder="Search"
            class="search__text-input"
          >
          <button
            v-if="!toggleSearch && keyword"
            type="button"
            class="search__close"
            @click="clearSearch"
          >
            <i class="flaticon flaticon-cancel" />
          </button>
        </div>
        <button
          class="search__icon search__icon--mobile"
          type="button"
          @click="widthChange"
        >
          <i class="flaticon flaticon-loupe" />
        </button>
      </form>
    </div>
  </header>
</template>

<script>

export default {
	name: 'Header',
	data() {
		return {
			keyword: null,
			toggleSearch: false,
		};
	},
	methods: {
		showSearch() {
			this.toggleSearch = !this.toggleSearch;
		},
		widthChange() {
			if (window.matchMedia(' (max-width: 599px) ').matches) {
				this.showSearch();
			}
		},
		search(e) {
			e.preventDefault();
			if (!this.keyword) return;
			this.$store.dispatch('searchItems/getItems', { key: this.keyword, router: this.$router });
			this.widthChange();
		},
		clearSearch() {
			this.keyword = null;
		},
	},
};
</script>
