<template>
  <div class="loader">
    <i
      class="flaticon flaticon-loading loader__spinner"
    />
    <p
      class="loader__txt"
    >
      Loading
    </p>
  </div>
</template>

<script>

export default {
	name: 'Loader',
};
</script>auto
