<template>
  <div class="block block--playlist">
    <a
      :href="$router.resolve({
        name: 'Playlist',
        params: {id: renderPlaylistID(item)}
      }).href"
      class="block__thumbnail-link"
    >

      <img
        :src="item.snippet.thumbnails.medium.url"
        :alt="item.snippet.title"
        class="block__thumbnail-img block__thumbnail-img--playlist"
      >
      <span
        v-if="count"
        class="block__count"
      >
        {{ item.contentDetails.itemCount }}
      </span>
    </a>
    <div class="block__info">
      <h3 class="block__heading">
        <router-link
          :to="{
            name: 'Playlist',
            params: {id: renderPlaylistID(item)}
          }"
        >{{ item.snippet.title }}</router-link>
      </h3>
      <p class="">
        <router-link
          :to="{
            name: 'Channel', params: {id: item.snippet.channelId
            }}"
        >
          {{ item.snippet.channelTitle }}
        </router-link>
      </p>
      <span class="block__date">
        Published at {{ formatDate(item.snippet.publishedAt) }}
      </span>
    </div>
  </div>
</template>

<script>
import formatDate from '../helpers';

export default {
	name: 'PlaylistBlock',
	props: {
		item: {
			type: Object,
			default: null,
		},
		count: {
			type: Number,
			default: null,
		},
	},
	methods: {
		formatDate,
		renderPlaylistID(item) {
			if (item.id.playlistId) return item.id.playlistId;
			return item.id;
		},
	},
};
</script>
