<template>
  <div
    v-if="item.snippet"
    class="block"
  >
    <a
      :href="$router.resolve({
        name: 'Video',
        params: {id: renderVideoID(item)}
      }).href"
      class="block__thumbnail-link"
    >
      <img
        :src="item.snippet.thumbnails.medium.url"
        :alt="item.snippet.title"
        class="block__thumbnail-img block__thumbnail-img--video"
      >
    </a>
    <div
      class="block__info block__info--video"
    >
      <a
        :href="$router.resolve({
          name: 'Video',
          params: {id: renderVideoID(item)}
        }).href"
        class="block__heading-link"
      >
        <h3 class="block__heading">
          {{ item.snippet.title }}
        </h3>
      </a>
      <p
        class="block__description"
      >
        {{ item.snippet.description }}
      </p>
      <div class="block__meta-tags">
        <router-link
          :to="{
            name: 'Channel',
            params: {id: item.snippet.channelId}
          }"
          class="block__heading-link"
        >
          <h4 class="block__ch-name">
            {{ item.snippet.channelTitle }}
          </h4>
        </router-link>
        <span
          class="block__subscribers"
        >30 subscribers</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: 'VideoBlock',
	props: {
		item: {
			type: Object,
			default: null,
		},
	},
	methods: {
		renderVideoID(item) {
			if (item.contentDetails && item.contentDetails.videoId) return item.contentDetails.videoId;
			return item.id.videoId;
		},
	},
};
</script>
