<template>
  <div class="holder">
    <div
      v-if="video"
      class="video"
    >
      <div
        class="video__player"
        v-html="video.player.embedHtml"
      />
      <div class="video-info">
        <h2 class="video__heading">
          {{ video.snippet.title }}
        </h2>
        <div class="video-creator--mobile">
          <h3 class="video-creator__name">
            {{ video.snippet.channelTitle }}
          </h3>
          <span class="video-creator__views">
            {{ video.statistics.viewCount }} views
          </span>
        </div>
        <div class="video-btns">
          <div class="video-likes">
            <span class="video__btn">
              <i class="flaticon flaticon-like" />
              {{ video.statistics.likeCount }}
            </span>
            <span class="video__btn">
              <i class="flaticon flaticon-dislike" />
              {{ video.statistics.dislikeCount }}
            </span>
          </div>
          <div class="video-menu">
            <span class="video__btn">
              <i class="flaticon flaticon-share" />
              <span class="video__btn-text">Share</span>
            </span>
            <span class="video__btn">
              <i class="flaticon flaticon-plus" />
            </span>
            <span class="video__btn">
              <i class="flaticon flaticon-flags" />
            </span>
          </div>
        </div>
      </div>
      <div class="video-creator">
        <img
          :src="video.snippet.thumbnails.default.url"
          class="video-creator__img"
        >
        <div class="video-creator__info">
          <h3 class="video-creator__name">
            <a
              :href="$router.resolve({
                name: 'Channel',
                params: {id: video.snippet.channelId}
              }).href"
            >
              {{ video.snippet.channelTitle }}
            </a>
          </h3>
          <span class="video-creator__date">
            Published on {{ formatDate(video.snippet.publishedAt) }}
          </span>
        </div>
      </div>
    </div>
    <div class="related-videos">
      <div
        v-for="item in related"
        :key="item.email"
      >
        <VideoBlock :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
import VideoBlock from './VideoBlock.vue';
import formatDate from '../helpers';

export default {

	name: 'VideoDetails',
	components: {
		VideoBlock,
	},
	props: {
		video: {
			type: Object,
			default: null,
		},
		related: {
			type: Array,
			default: null,
		},
	},
	methods: { formatDate },
};
</script>
