// ---------------------------------------------
// LAYOUT: PAGES HEADER

.header {
  background-color: $brand;
  margin-bottom: $spacing-2;
  padding: $spacing 0;
  @media (min-width: $media-sm) {
    background-color: $white;
    box-shadow: 0 1px 9px $gray-mist;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
  }
  .wrapper {
    display: flex;
  }
}

.logo {
  flex-basis: 15%;
  @media (min-width: $media-sm) {
    flex-basis: 30%;
  }
  &--mobile {
    @media (min-width: $media-sm) {
      display: none;
    }
  }
  &--desktop {
    display: none;
    @media (min-width: $media-sm) {
      display: flex;
      align-items: center;
    }
  }
  &__label {
    font-size: 14px;
    font-weight: $font-bold;
    margin-left: .2em;
  }
  &__img {
    max-width: 30px;
  }
}

.search {
  flex-basis: 85%;
  @media (min-width: $media-sm) {
    flex-basis: 70%;
  }
  display: flex;
  align-items: center;
  margin-left: auto;
  &__keyword {
    color: $white;
  }
  &__holder {
    width: 100%;
    position: relative;
    padding-right: $spacing;
    @media (min-width: $media-sm) {
      border: 1px solid #eee;
    }
  }
  &__text-input {
    padding: .4em .2em;
    border: 0;
    width: 100%;
  }
  &__close {
    position: absolute;
    top: .3em;
    right: $spacing + .5;
    @extend .icon;
    color: $black;
    @media (min-width: $media-sm) {
      display: none;
    }
  }
  &__icon {
    margin-left: auto;
    color: $white;
    @extend .icon;
    @media (min-width: $media-sm) {
      border: 1px solid #eee;
      color: #ccc;
      padding: .4em 1em;
      border-left-color: transparent;
      background: #eee;
    }
  }
}
