// ---------------------------------------------
// LAYOUT: PAGES WRAPPER

.wrapper {
  margin: 0 $spacing;
  @media (min-width: $media-sm) {
    margin: 0 $spacing-3 * 3;
  }
  @media (min-width: $media-lg) {
    margin: 0 $spacing-3 * 8;
  }
}

body {
  @media (min-width: $media-sm) {
    padding-top: 100px;
  }
}
